.reducer-trail-page {
  background-color: #f0f0f0;
  padding: 20px;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.reducer-trail-page h1 {
  color: white;
  text-align: center;
  background-color: hsl(284, 90%, 31%);
}

.counter-section {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-color: aqua;
  margin-top: 30px;
  text-align: center;

}

.counter-section h2 {
  color: hsl(155, 93%, 28%);
  background-color: #bbda32;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.info-section {
  background-color: #f9f9f9;
  opacity: 0.9;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.counter-section button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: violet;
}

.error-message {
  font: 1em sans-serif;
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.info-text {
  font: bold 1em dejaVu Sans;
  color: rgb(56, 182, 231);
  margin-bottom: 10px;
}

